<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Muzan</title>
</head>
<body>
    <%- include('./composants/header') %>
    <br>
    <h1>SELECT posts de la BDD MySQL</h1>

    <% for(i= 0; i < resultat.length; i++) { %>
        <p> Id : <%= resultat[i].idposts %></p>
        <p> Titre : <%= resultat[i].titre %></p>
        <p> Message : <%= resultat[i].message %></p>
        <br>
    <% } %>
    
    <!-- <button id="ajouter" >Hello</button> -->
</body>
</html>